*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*Style continer style*/
.continer{
    width:100%;
    height:100vh;
    background-color:rgb(0, 0, 136);
    position: relative;
    display: flex;
}
.continer .right-continer{
    flex-basis: 50%;
}
.continer .left-continer{
   padding:30px;
   flex-basis: 50%;
}
.continer .left-continer .main{
    width: 80%;
    height:90%;
    cursor: pointer;
    background-color: rgba(255,255,255,.12);
    border-radius: 20px;
    margin-left: 50px;
    transform: skew(15deg);
    position: relative;
    margin-top: 50px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
}
.continer .left-continer .main h1{
    text-align: center;
    padding-top: 20px;
    color:#ccc;
}
.continer .left-continer .main  ul{
   width: 90%;
   height:auto;
   display: flex;
   flex-direction: column;
   padding: 20px;
}
.continer .left-continer .main  ul li{
    width: 100%;
    height:20px;
    padding: 20px;
    color:#fff;
    list-style: none;
}
.continer .left-continer .main  .inputtext{
   position: absolute;
   bottom: 0;
   left:0px;
   background-color: rgba(255,255,255,.12);
   width: 100%;
   height:50px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   display: flex;
   justify-content: space-between;
}
.continer .left-continer .main  .inputtext input{
    height:90%;
    width: 100%;
    background-color: transparent;
    color:#ccc;
    border:none;
    outline: none;
    padding: 20px;
    font-size: 16px;
}
.continer .left-continer .main  .inputtext button{
 width: 10%;
 height:100%;
 font-size: 1.2rem;
 color:blue;
border-bottom-left-radius: 20px;
border:none;
outline:none;

}
.continer .left-continer svg{
    position: absolute;
    bottom: 0;
    right:5px;
}
/*End  continer style*/
